/* font-family: 'Poppins', sans-serif; -- primary */
/* font-family: 'Playfair Display', serif; -- secondary */


:root {
    --main-color: #fcb8d4;
    --secondary-color: #cf6290;
    --main-font: 'Poppins', sans-serif;
    --heading-font: 'Playfair Display', serif; 
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fcb8d4;
    background-image: url(../images/blossom2.jpg);
    background-size: cover;
    margin:0;
    padding: 0;
    min-height:100vh;
    
}

h1 {
    font-family: 'Playfair Display', serif;
}

a {
    color: var(--secondary-color);
}

#contactMe {
    margin: 35px;
    text-align: center;
}

#aboutMe {
    text-align: center;
    background-color: white;
    max-width: 900px;
    padding: 10px;
    margin-top: 300px;
    margin-left: 150px;
}

#aboutPage {
    text-align: center;
    background-color: white;
  max-width: 900px;
    padding: 10px;
    margin-top: 300px;
    margin-left: 150px;
}

#projectsPage {
  text-align: center;
  background-color: white;
  max-width: 900px;
  padding: 10px;
  margin-top: 300px;
  margin-left: 500px;
  padding: 60px;
}

#contactPage {
    text-align: center;
    background-color: white;
  max-width: 900px;
    padding: 50px;
    margin-top: 300px;
    margin-left: 150px;
}

#headshot {
    margin: 20px;
}

#scroll-container {
    border: none;
    border-radius: 5px;
    overflow: hidden;
  }
  
  #scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }

  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }

  #aboutButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    
  }

  #contactButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }

  #button {
    background: var(--secondary-color);
    margin: 20px;
    color: #fff;
  }

  footer {
    width: 100%;
    text-align: center;
    background-color: #fff;
    margin: 60px 0;
  
    
  }

  #icon {
    color: var(--secondary-color);
  }

  #pictures {
    margin-top: 100px;
  }

  
